body {
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    background-color: var(--background-main);
    display: grid;
    place-items: center;
}

.heading {
    color: var(--text-white);
}

.heading-primary {
    font-size: 32px;
}

.heading-secondary {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 1rem;
    margin-top: 1.25rem;
    letter-spacing: 1.4px;
}
