.calculator {
    background-color: var(--background-main);
    margin: auto;
    padding: 1.5rem;
}

.calculator__heading {
    display: flex;
}

.calculator__toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.toggle__numbers {
    color: var(--text-white);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.toggle__background {
    align-items: center;
    background-color: var(--background-screen);
    border-radius: 20px;
    display: flex;
    height: 1.5rem;
    width: 4rem;
}

.toggle__btn {
    background-color: var(--keys-toggle);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 3px;
}

.toggle__btn--2 {
    justify-content: center;
}

.toggle__btn--3 {g
    margin-left: auto;
}

.calculator__screen {
    display: grid;
    margin-top: 2rem;
    place-items: center;
}

input {
    background-color: var(--background-screen);
    border-radius: 10px;
    border: none;
    color: var(--text-white);
    font-weight: 600;
    height: 5.5rem;
    padding: 1rem;
    text-align: right;
    width: 100%;
}

.calculator__keys {
    background-color: var(--background-secondary);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    gap: 0.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem;

    @media screen and (min-width: 620px) {
        gap: 1.5rem;
    }
}

.key {
    background-color: var(--keys-background-main);
    border: none;
    cursor: pointer;
    border-bottom: 5px solid var(--keys-shadow);
    border-radius: 10px;
    color: var(--text-main);
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;

    &:active {
        transform: translateY(2px);
        border-bottom: 5px solid transparent;
    }

    &-0 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    &-1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    &-2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    &-3 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    &-4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &-5 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &-6 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &-del,
    &-reset {
        align-items: center;
        background-color: var(--keys-background);
        border-bottom: solid 5px var(--keys-background-main-shadow);
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        text-transform: uppercase;
        color: var(--text-delete-reset);
        font-size: 18px;
    }

    &-multiply {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    &-dot {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    &-reset {
        grid-column: 1 / span 2;
        grid-row: 5 / 6;
    }

    &-equals {
        background-color: var(--keys-toggle);
        border-bottom: solid 5px var(--keys-toggle-shadow);
        grid-column: 3 / span 2;
        color: var(--text-equals);
    }
}

p {
    color: var(--text-main);
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
